html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    font-size: 16px;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
    border-radius: 10px;
}

.header {
    background-color: aliceblue;
    padding: 50px 40px;
}

.header > h1 {
    color: hsl(179, 62%, 43%);
    font-size: 28px;
    margin: 0;
}
.header > h3 {
    color: hsl(71, 73%, 54%);
}

.two-blocks-container {
    display: flex;
    flex-direction: row;
}

.two-rows {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: hsl(204, 8%, 48%);
    font-weight: 400;
}

.two-rows > p {
    margin: 0;
}

.block-1 {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    width: 50%;
    background: hsl(179, 62%, 43%);
    padding: 30px;
    margin: 0;
}

.block-1 > h2 {
    font-weight: 600;
    font-size: large;
    margin-bottom: 20px;
}
.block-1 > p {
    margin-bottom: 40px;
}


.block-1 > button {
    width: 95%;
    margin: auto;
    height: 40px;
    color: rgb(241, 235, 227);
    font-weight: 700;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 1px black;
    
}



.price-container {
    margin-bottom: 2%;

}
.price-container > p {
    position: relative;
    text-align: center;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    font-size: 32px;
    gap: 8px;
    margin: 0;
}

.price-container > p > :first-child {
    position: static;
    font-size: 16px;
    opacity: 0.5;
}


.block-2 {
    background: hsl(179, 51%, 49%);
    padding: 30px;
    color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column; 
    gap: 3px;

}

.block-2 > p {
    margin: 0;
    opacity: 0.8;
}

.block-2 > h2 {
    margin-bottom: 20px;
    font-size: large;
}


@media (max-width: 375px){
    html, body{
        width: 100%;
        font-size: 15px;
        margin: 5px;
        height: max-content;
    }

    .container {
        width: 90%;
    }

    .two-blocks-container {
        flex-direction: column;
    }

    .block-1 {
        width: auto;
        padding: 30px 24px;
    }

    .block-2 {
        width: auto;
        padding: 30px 24px;
    }

    .header {
        padding: 30px 24px;
        width: auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .two-rows {
        display: inline;
        line-height: 150%;
        font-size: 15px;
    }
    .block-1 > button {
        margin: auto;
    }

    .block-1 > h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}